@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.app{
  background-color: #1a1a1a;
  color: white;
  min-height: 100vh;
  padding: 1rem 2rem;
}

header{
  border-bottom: thin pink solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0.5rem 1rem;
}

header h1{
  margin: 0;
}

header input{
  background-color: #1a1a1a;
  color: white;
  border: thin #ccc solid;
  border-radius: 5px;
  width: 15rem;
  padding-left: 1rem;
  height: 2.3rem;
}

.tab-container{
  padding-top: 1rem;
  display: flex;
}

.nav{
  border: 1px red solid;
}

.main-content{
  border: 1px red solid;
  flex: 1 0 auto;
  padding: 1rem 2rem;
}

.heading{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link{
  color: pink;
}

.nav-link:hover{
  color: white;
}